<!-- assignments/new.html.erb -->
<h1>New Assignment</h1>

<%= form_with(model: @assignment, url: officer_assignments_path(@officer), local: true) do |form| %>
  <div class="field">
    <%= form.label :investigation_id, "Choose Investigation" %>
    <%= form.collection_select :investigation_id, Investigation.active.order(:title), :id, :title, include_blank: "Select an Investigation", required: true %>
  </div>
  <div class="field">
    <%= form.label :start_date, "Start Date" %>
    <%= form.date_field :start_date, value: Date.current, min: Date.current, required: true %>
  </div>

  <%= form.hidden_field :officer_id, value: @officer.id %>

  <div class="actions">
    <%= form.submit "Create Assignment", class: "btn" %>
  </div>
<% end %>

<p>
  <%= link_to 'Back to Officer Details', officer_path(@officer), class: "btn btn-secondary" %>
</p>

