<div class="container">
  <div class="row">
    <div class="col s6">
      <h4>New Assignment</h4>
      <%= simple_form_for(@assignment) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.input :investigation_id, label: "Investigation", collection: Investigation.alphabetical.is_open.to_a %>
          </div>
        </div>
        <div class="row">
          <%= f.hidden_field :officer_id, value: @officer.id %>
          <%= f.hidden_field :from, value: "officer" %>
          <div class="input-field col s6">
            <%= f.input :start_date, label: "Start Date", input_html: { class: 'datepicker' } %>
          </div>
          <div class="input-field col s6">
            <%= f.input :end_date, label: "End Date", input_html: { class: 'datepicker' } %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.button :submit, class: "btn waves-effect waves-light" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s6">
      <h6>For Officer: <%= @officer.name %></h6>
      <h6><%= @officer.proper_name %></h6>
      <h6>Current Assignments</h6>
    </div>
  </div>
</div>
